@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Noto+Sans:ital@1&family=Poppins:wght@300&display=swap');

body{
    background-image: url(../images/blue-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
}
#header-logo{
    width: 90px;
    height: 90px;
    position: relative;
    bottom: 10px;
}
span{
    display: inline-block;
}
.header-options-span{
    color: blue;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
}
.top-bar{
    width: 100%;
    height: 75px;
    background-color: black;
    display: inline-block;
    overflow: hidden;
}
.language-options{
    display: none;
    padding: 5px;
    margin: 5px;
    color:blue;
    font-family: "Poppins", sans-serif;
    background-color:lightblue;
    text-decoration: none;
}
.language-options:hover{
    background:lightgrey;
}
.header-main-options{
    display: inline-block;
    
}
.languages-head:hover .language-options{
    display: block;
}
.header-options{
    position: absolute;
    left: 150px;
    top: 37px;
}
.about{
    position: absolute;
    left: 60px;
}
/*.header-sign-in{
    position: absolute;
    color: white;
    background: green;
    left:700px;
    width: 100px;
    height: 75px;
    top: 1px;
}*/