@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Noto+Sans:ital@1&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

#title{
    font-family: "Antonio", sans-serif;
}
.top{
    text-align: center;
    height: 500px;
}


.main-sign{
    margin: auto;
    border-radius: 25px;
    height: 25px;
}
.sign-up{
    background-color: seagreen;
    width: 150px;
    margin-top:20px;
}
.button-text{
    position: relative;
    top: 3px;
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    font-weight:bold;
    color: black;
}


.sign-in{
    background-color: blue;
    width:125px;
    margin-top: 30px;
}
#or{
    font-family: "Kalam", cursive;
    font-weight:bold;
    font-size: 20px;
}
