<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Placeholder</title>
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="../static/header.css">
    </head>
    <body>
        
        
<header class="top-bar header">
    <a href="index.html"> <img id="header-logo" src="../static/logo-no-bg.png"></a>
    <div class="header-options">
        <div class="header-main-options small languages-head"><span class="header-options-span small-header-span">Langauges</span>
        <a href="" class="language-options">Python</a>
        <a href="" class="language-options">Java</a>
        <a href="" class="language-options">JavaScript</a>
        <a href="" class="language-options">Ruby</a>
        <a href="" class="language-options">C</a>
        <a href="" class="language-options">C++</a>
        <a href="" class="language-options">HTML/CSS</a>
        <a href="" class="language-options">Swift</a>
        <a href="" class="language-options">Go</a>
        <a href="" class="language-options">C#</a>
        <a href="" class="language-options">PHP</a>
        </div>
        <div class="header-main-options small about"><span class="header-options-span about small-header-span">About</span></div>
    </div>
</header>

        <div class="top">
            <h1 id="title">The History of Programming</h1><div class='under-head-description-narrow'>
            <p class="under-head-description">A complete history of coding and coding languages</p></div>
            <a href=""><div class="main-sign sign-in"><span class="button-text">Log in</span></div></a><br><span id="or">or</span>
<br>            <a href="signup.html"><div class="main-sign sign-up"><span class="button-text">Create an account</span></div></a>
        </div>
    
