<!DOCTYPE html>
<html>

<head>
    <title>Coding History - Sign Up</title>
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="stylesheet" href="../static/header.css">

</head>

<body>

    <header class="top-bar header">
        <a href="index.html"> <img id="header-logo" src="../static/logo-no-bg.png"></a>
        <div class="header-options">

            <div class="header-main-options small languages-head"><span
                    class="header-options-span small-header-span">Langauges</span>
                <a href="" class="language-options">Python</a>
                <a href="" class="language-options">Java</a>
                <a href="" class="language-options">JavaScript</a>
                <a href="" class="language-options">Ruby</a>
                <a href="" class="language-options">C</a>
                <a href="" class="language-options">C++</a>
                <a href="" class="language-options">HTML/CSS</a>
                <a href="" class="language-options">Swift</a>
                <a href="" class="language-options">Go</a>
                <a href="" class="language-options">C#</a>
                <a href="" class="language-options">PHP</a>
            </div>
            <div class="header-main-options small about"><span
                    class="header-options-span about small-header-span">About</span></div>
        </div>
    </header>
    <div class="header-center">
        <h1>Create an account to learn more about the history of programming!</h1>
    </div>
    <div class="form-container">
        <form action="{{ url_for('signup') }}" method="POST">
            <input type="text" placeholder="Username" class="form" name="username" />
            <input type="email" placeholder="Email" class="form" name="email" />
            <input type="password" placeholder="Password" class="form" name="password" />
            <input type="submit" id="submit-button" value="Submit" />
        </form>
    </div>
</body>

</html>
